<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/camera.png" alt="">
  </div>
  <div class="headings">
    <h2>AI Detect Anomaly</h2>
    <h3>By chaudd</h3>
    <a href="/cameras" class="btn">View Cameras</a>
  </div>
</header>


<%- include('partials/footer'); -%>